.cathalogueContainer {
    width: 100%;
    background-color: white;
    box-sizing: border-box;
    height: fit-content;
    min-height: 650px;
}

.sectionTitle {
    color: black;
    font-size: 21px;
    font-weight: 700;
    line-height: 21px;
    padding: 28px 0px;
}

.menuGroup {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.filterContainer {
    flex-grow: 0;
    width: 25%;
    height: 417px;
    z-index: 1;
}

.cardsCollectionContainer {
    width: 75%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    height: fit-content;
    margin-bottom: 28px;
}

.cardsList {
    box-sizing: border-box;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    flex-basis: 0 0 33.3333%;
}

.wiewMoreBTN {
    color: white;
    background-color: #f14f4f;
    padding: 15px 33px;
    font-size: 400;
    font-size: 11px;
    border-radius: 4px;
    margin-bottom: 28px;
}
.wiewMoreBTN:hover {
    background-color: #cc4949;
}

.loaderContainer {
    display: grid;
    place-items: center;
    min-height: 200px;
    min-width: 100%;
}
